<!DOCTYPE HTML>
<html>
    <head>
        <title>DevQuest.io - Find developers talking about anything</title>

        <meta name="description" content="DigitalOcean find me" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/main.css" />

    </head>
    <body id="top">
        <!-- Header -->
            <header id="header">
                <div class="content">

                    <!-- Menu Nav
                    <div class="dropdown">
                        <div align="right">
                            <button onclick="myFunction()" class="dropbtn">Menu</button>
                              <div id="myDropdown" class="dropdown-content">
                                <a href="http://localhost:8080/">Home</a>
                                <a href="http://localhost:8080/credits">Credits</a>
                              </div>
                        </div>
                    </div>
-->
                    <!-- Header Image   -->
                    <div class="header-bg">
                      <div align="center">
                        <a href="#">
                            <div class="header-image"><a href="/"><img src="/images/devquest.png"></a></div>
                        </a>
                        <form id='form' action='/search' method='GET'>

                            <input name="searchsite" id="searchsite" type="hidden" />
                            <label align="left">Search Term <span id='search_term_Label'></span></label>
                            <input name="searchterm" id="searchterm" type="" />
                              <button style="padding: 0px 20px;">Search</button>
                        </form>
                    </div>
                  </div>
            </header>

        <!-- Body -->
        <div>
            {{{ body }}}
        </div>

        <!-- Footer -->
            <footer id="footer">
                <div align="center">
                <p class="copyright">&copy; 2017 <a href="http://www.digitalocean.com"> DigitalOcean</a> <br></p>
                </div>
            </footer>

        <!-- Scripts -->
            <!-- Drop Down Menu START -->
            <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>
            <!-- Drop Down Menu END -->

    </body>
</html>
