<!-- DETAIL -->
<section id="two" class="wrapper">
	<div class="inner alt"> 
		<div class="content">
			<section>
				
			</section>
		</div>					
	</div>		
</section>
		
		
<div class="results index">
<img src="/images/empty-state.jpg">
</div>