<!-- DETAIL -->
<section id="two" class="wrapper">
	<div class="inner alt"> 
		<div class="content">
			<section>
				<p>DO results page looking for sammy


				passed search term: {{ searchTerm }} <br>
				passed search site: {{ searchSite }} <br>
				passed search total results count: {{ totalResults }} <br>
				passed searchResultArray: {{ searchResultArray }} <br>

			</section>
		</div>					
	</div>		
</section>
		