<section id="one" class="wrapper style2 special">

  <header class="major">
  <h2 align="left"><b>What would you like to search for?<span id='app'></span></b></h1>
  </header>

  <noscript>We apologize, but searching developer sitesrequires javascript</noscript>
  <div class='error' id='error'></div>
  
  <p align="left">
  <form id='form' action='#' method='POST'>
    <label align="left">Site <span id='search_site_Label'></span></label>
    <input name="searchsite" id="searchsite" type="" />
    <label align="left">Search Term <span id='search_term_Label'></span></label>
    <input name="searchterm" id="searchterm" type="" />
    <br>    
    <p align="left">
      <button style="padding: 0px 20px;">Search</button>
    </p>
  </form>
  </p>
</section>

